/kubernetes/environments/kind/dex/dex.env

/kubernetes/environments/scs-public/api/api-secrets.env
/kubernetes/environments/scs-public/database/db-secrets.env
/kubernetes/environments/scs-public/dex/dex-secrets.env
/kubernetes/environments/scs-public/web/web-secrets.env
