/kubernetes/environments/kind/dex/dex-secrets.env

/kubernetes/environments/k3s/api/api-secrets.env
/kubernetes/environments/k3s/database/db-secrets.env
/kubernetes/environments/k3s/dex/dex-secrets.env
/kubernetes/environments/k3s/web/web-secrets.env


/kubernetes/environments/scs-public/api/api-secrets.env
/kubernetes/environments/scs-public/database/db-secrets.env
/kubernetes/environments/scs-public/dex/dex-secrets.env
/kubernetes/environments/scs-public/web/web-secrets.env
