{
	auto_https off
	log {
		format console
		level DEBUG
	}
}

http://api.localhost:8080 {
	reverse_proxy status-page-oathkeeper:4455
}

http://dex.localhost:8080 {
	reverse_proxy status-page-dex:5556
}

http://oathkeeper.localhost:8080 {
	reverse_proxy status-page-oathkeeper:4456
}

http://web.localhost:8080 {
	reverse_proxy status-page-web:8080
}

http://monitoring.localhost:8080 {
	reverse_proxy status-page-monitoring-grafana:3000
}
