{
	auto_https off
	log {
		format console
		level DEBUG
	}
}

http://api.test {
	reverse_proxy status-page-oathkeeper:4455
}

http://dex.test {
	reverse_proxy status-page-dex:5556
}

http://oathkeeper.test {
	reverse_proxy status-page-oathkeeper:4456
}
